<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST APP</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="menu">
        <a href="/login">ログイン</a>
        <a href="/signup">新規作成</a>
      </div> 
    </header>
    <main>
    </main>
  </body>
</html>